
<header>
  <h1>{{ shop.name }}</h1>
  <nav>
    <ul>
      <li><a href="/collections/all">Shop</a></li>
      <li><a href="/pages/about">About Us</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
